<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Explore the Kieler Wocher 2018
            </a>

            <ul class="nav navbar-nav">
                <li><a href="../home">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../events">Create Event and Find Comapanions</a></li>
                <li><a href="../chats">Chat</a></li>
                <li><a href="../showevents">Show all events</a></li>
                <li><a href="../">Logout</a></li>
            </ul>


        </div>

    </div>
</nav>