<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Kielr</title>
<h1 align="center"> Kieler Woche 2018</h1>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="theme.css">
<style>
    body    { padding-top:50px; }
    form {
        text-align: center;
    }
    body  {
      background: beige;
    }

</style>