<html>
<head>
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/header') %>
<main>
<div align="center">
    Kieler Woche is one of the biggest events in kiel. <br/>People like it to enjoy but sometimes due to lack of friends, there is not so much fun
    one can have.<br/> We help people to find some friends and explore the events with togetherness.
</div>
</main>
<%- include('partials/footer') %>
</body>
</html>