<html>
<head>
    <%- include('partials/head') %>
    <title> Real Time Chat </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>


</head>



<body>
<%- include('partials/header') %>
<main>
<h1 align="center"> Chat! </h1>
<form>
    <input id="message" type="text" placeholder="message">
    <input type="submit" value="Send">

</form>
</main>
<%- include('partials/footer') %>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>


<ul id="thread"></ul>
<script>
    var socket=io();

    // $('#btn').click(function(socket){
    //     socket.on('connect', function(data) {
    //         socket.emit('example', 'Hello server from client');
    //     });
    // })
    //
    //
    //
    //
    //
    // socket.on('message_from_server',function(MessageFromServer){
    //     var client=MessageFromServer.sender +"from server at time" + MessageFromServer.time;
    //     alert(client);
    //  });
    socket.on('connect', function(data) {
        socket.emit('join', 'Hello server from client');
    });

   // listener for 'thread' event, which updates messages
    socket.on('thread', function(data) {
        $('#thread').append('<li>' + data + '</li>');
    });

    // sends message to server, resets & prevents default form action
    $('form').submit(function() {
        var message = $('#message').val();
        socket.emit('messages', message);
        this.reset();
        return false;
    });

</script>

</body>
</html>